body {
    font-family: 'Microsoft JhengHei';
}
#banner {
    background-image: url(/images/web-h-p.jpg);
    background-position: center center;
    background-size: cover;
    height: 475px;
    margin: 20px auto 0 auto;
}
.title {
    color:#949449;
    font-weight: bold;
}